@font-face {
  font-family: Tab;
  src: url("./fonts/Covered_By_Your_Grace/CoveredByYourGrace-Regular.ttf");
}
@font-face {
  font-family: Manrope;
  src: url("./fonts/Manrope/Manrope-VariableFont_wght.ttf");
}
html,
body {
  margin: 0;
}
body {
  font-family: Tab;
  --transition-fast: 0.1s;
  --transition-medium: 0.25s;
  --transition-slow: 0.33s;
  --transition-slower: 0.5s;
}
h1 {
  font-size: 120px;
}
h2 {
  font-size: 64px;
}
p {
  font-size: 24px;
}
h1,
h2,
p {
  margin: 0;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

@media only screen and (max-width: 1280px) {
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 44px;
  }
  p {
    font-size: 22px;
  }
}
@media only screen and (max-width: 1024px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 30px;
  }
  p {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}
