.connectWallet {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0 10px;
  position: absolute;
  top: min(20px, 2vh);
  right: min(20px, 2vh);
  border-radius: 16px;
  background-color: #294dfa;
  padding: min(8px, 1vh) min(32px, 3vw);
  color: #fff;
  font-family: Manrope;
  button {
    padding: 0;
    display: flex;
    align-items: center;
    svg {
      height: 100%;
      width: 100%;
    }
  }
}
